<h1>Welcome to the Information Technology Inventory System!</h1>
<p>Coming soon...</p>
<a href="/app/view/computers/show.html.erb">Computer Page</a>
<a href="/app/view/projectors/show.html.erb">Projectors Page</a>