<!DOCTYPE html>

<html>
    
<header>
    <title> I.T.I.S. </title>
    <meta charset="UTF-8">
</header>
<style>
    hr
    {
        border: 1px solid black;
    }

    .hr1
    {
         width: 50%; 
    }
    .hr2
    {
        width: 25%;
    }
    .endline
    {
        position: fixed;
        bottom: 0;
    }
</style>
<body>
    <div class="container">
        <h1 align="center">Information Technology Inventory System</h1>    
        <hr>
        <div align="center">
            <%= render 'nav' =%>       
        </div>
        <hr><br>
    <div class="row">
        <div class="col-sm">
            <h3>Computers</h3>
            <br>
            <h5>Need Replaced Soon (>5 years old)</h5>
            <table class="table table-hover table-dark">
                <thead>
                  <tr>
                    <th scope="col">Manufacture</th>
                    <th scope="col">Model</th>
                    <th scope="col">Name</th>
                  </tr>
                </thead>
                <tbody id="myTable">
                  <tr>
                    
                    <td>Dell</td>
                    <td>Optiplex</td>
                    <td>Computer1</td>
                    <td>Show Link</td>
                  </tr>
                </tbody>
              </table>
              <br>
              <h5>Recently Checked</h5>
                <table class="table table-hover table-dark">
                    <thead>
                      <tr>
                        <th scope="col">Manufacture</th>
                        <th scope="col">Model</th>
                        <th scope="col">Name</th>
                      </tr>
                    </thead>
                    <tbody id="myTable">
                      <tr>
                        
                        <td>Dell</td>
                        <td>Optiplex</td>
                        <td>Computer1</td>
                        <td>Show Link</td>
                      </tr>
                    </tbody>
                  </table>
        </div>
        <div class="col-sm">
          <h3>Projectors</h3>
          <br>
            <h5>Need Replaced Soon (>5 years old)</h5>
            <table class="table table-hover table-dark">
                <thead>
                  <tr>
                    <th scope="col">Manufacture</th>
                    <th scope="col">Model</th>
                    <th scope="col">Name</th>
                  </tr>
                </thead>
                <tbody id="myTable">
                  <tr>
                    
                    <td>Dell</td>
                    <td>Optiplex</td>
                    <td>Computer1</td>
                    <td>Show Link</td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-sm">
            <h3>Cameras</h3>
            </hr></br>
            <h5>Need Replaced Soon (>5 years old)</h5>
            <table class="table table-hover table-dark">
                <thead>
                  <tr>
                    <th scope="col">Manufacture</th>
                    <th scope="col">Model</th>
                    <th scope="col">Name</th>
                  </tr>
                </thead>
                <tbody id="myTable">
                  <tr>
                    
                    <td>Dell</td>
                    <td>Optiplex</td>
                    <td>Computer1</td>
                    <td>Show Link</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="col-sm">
          <h3>Switchers</h3>
            </hr></br>
            <h5>Need Replaced Soon (>5 years old)</h5>
            <table class="table table-hover table-dark">
                <thead>
                  <tr>
                    <th scope="col">Manufacture</th>
                    <th scope="col">Model</th>
                    <th scope="col">Name</th>
                  </tr>
                </thead>
                <tbody id="myTable">
                  <tr>
                    
                    <td>Dell</td>
                    <td>Optiplex</td>
                    <td>Computer1</td>
                    <td>Show Link</td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
</body>

</html>