<!DOCTYPE html>

<html>
    
<header>
    <title> I.T.I.S. </title>
    <meta charset="UTF-8">
</header>
<style>
    hr
    {
        border: 1px solid black;
    }

    .hr1
    {
         width: 50%; 
    }
    .hr2
    {
        width: 25%;
    }
    .endline
    {
        position: fixed;
        bottom: 0;
    }
</style>
<body>
    <h1 align="center">Welcome to the Information Technology Inventory System!</h1>    
    <hr>
    <div align="center">
        <%= render 'nav' =%>       
    </div>
    <hr>
    <h3 align ="center">
        Mission Statement
    </h3>
    <hr class = "hr1">
    <h4 align ="center"> We are trying to benefits those who use old means of doing inventory with this application.</h4>
   <br>
    <h3 align ="center"> Over View</h3>
    <hr class ="hr2">
    
    <p>This project is created with ruby and rails. It is an inventory system to allow users 
    access to data in different categories and allow efficient planning based upon the data. 
    In this instance, we are working with a local community college to assist them with their 
    inventory procedure. Since they are using excel as their way of keeping their inventory, 
    we decided to develop this website. This application allows users to view four different 
    categories based upon the equipment used in the classrooms. From that, the users can see 
    the data in that category and make changes. This will aid the college by keeping a up to 
    date inventory and being able to plan for equipment upgrades.  
    </p>
<h4 class ="endline">Created by: Jared Hubbard and Cody Dill</h4>
</body>

</html>