<!DOCTYPE html>

<html>
    
<header>
    <title> I.T.I.S. </title>
    <meta charset="UTF-8">
</header>
<style>
    hr
    {
        border: 1px solid black;
    }
    .links
    {
        text-align="center";
        color: #00080f;
        text-decoration: none;
        
    }
</style>
<body>
    <h1 align="center">Welcome to the Information Technology Inventory System!</h1>    
    <hr>
    <div align="center">
        <%= link_to 'Computers', computers_path %>
        <%= link_to 'Projectors', projectors_path %>
        <%= link_to 'Cameras', cameras_path %>
        <%= link_to 'Switcher', switchers_path %>        
    </div>

    
    <hr>
    
    <p>The project that we will be working on is a website that will connect to the database. 
The data that will be uploaded is information regarding information technology equipment in classrooms. 
Since the data is stored in many excel spread sheets it will be modified and uploaded to a database. 
From there, certain features will be created to prevent classrooms from going down due to technology getting old or dying. 
This will aid the department by giving them a better understanding as to when rooms need maintenance and which one is a 
priority over the others. The steps for the project will be listed here. There may be additional features added depending 
on the amount of time it takes to complete the tasks already listed.
    </p>

</body>
</html>