<% @cameras.each do |cam| %>
   <p>
  <strong>Manufacture:</strong>
  <%= cam.manufacture %>
</p>
 
<p>
  <strong>Model:</strong>
  <%= cam.model %>
</p>

<p>
  <strong>Serial:</strong>
  <%= cam.serial %>
</p>
<p>
  <strong>Classroom:</strong>
  <%= cam.classroom %>
</p>
<% end %>