<!DOCTYPE html>
<html>
  <head>
    <title>Information Technology Inventory System</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>

    <%= yield %>
  </body>
  <footer>
    <div class="footer bg-dark">
        <p>CST438 Project: Information Technology Inventory System |
     Developed by: Jared Hubbard and Cody Dill </p>
      
    </div>
  </footer>
</html>
